/* Home */

*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to right, black, #011808);
    background-position: right;
    background-size: cover;
    height: 109vh;
    font-size: 16px;
}
.main1{
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.main2{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 109vh;
    background: linear-gradient(to left, black, #011808);
}

.col{
  flex-basis: 100%;
  font-family: Helvetica;
}

.navbar
{
  font-family: monospace;
  background-color: black;
  color: white;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  text-align: center;
  width: 100%;
  height: 80px;
  line-height: 50px;
  font-size: 18px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar a 
{
  text-decoration: none;
  color: white;
  text-align: center;
}

.navbar a.navbar-brand
{
  float: left;
  height: 80px;
  line-height: inherit;
  padding: 0 155px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: monospace;
  padding-top: 15px;

}

.navbar ul
{
  float: right;
  list-style: none;
  padding-top: 20px;
  line-height: 30px;
  padding: 0px 80px;
}

.navbar ul li
{
  display: inline-block;
}

.navbar ul li a 
{
  display: block;
  text-align: center;
  min-width: 40px;
  padding: 0px 30px;
  padding-bottom: 20px;
}


.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #124d21;
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 20px;
   
    
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    padding-left: 150px;
    font-size: 20px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #124d21;
}



h1{
  position: relative;
  font-size: 6vw;
  color: black;
  -webkit-text-stroke: 0.3vw #124d21;
  text-transform: uppercase;
  padding-left: 4%;
}

h1::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  padding-left: 0;
  width: 50%;
  height: 100%;
  color: white;
  -webkit-text-stroke: 0vw #124d21;
  border-right: 2px solid white ;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%, 10%, 100%
  {
    width: 0;
  }
  70%, 90%
  {
    width: 75%;
  }
}






.fa {
  padding: 25px;
  width: 15px;
  text-decoration: none;
  
}  
.fa-linkedin {
  background: black;
  color: white;
}  
.fa-github {
  background: black;
  color: white;
} 
.fa-instagram {
  background: black;
  color: white;
} 
.fa-behance {
  background: black;
  color: white;
} 


.btn{
    width: 100px;
    height: 40px;
    background: #124d21;
    border: 2px solid #124d21;
    margin-top: 13px;
    color: #124d21;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: monospace;
}

.btn:focus{
    outline: none;
}


.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    
}

.content1{
  width: 1200px;
  height: auto;
  margin: auto;
  color: #fff;
  position: relative;
  display: flex;
  
}

.content1 .par{
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: "montserrat",sans-serif;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: "montserrat",sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: "montserrat",sans-serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content1 .cn{
  width: 160px;
  height: 40px;
  background: rgb(27, 112, 42);
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;
  font-family: monospace;
  
  
}

.content1 .cn a{
  text-decoration: none;
  color: #000;
  transition: .3s ease;
}

.cn:hover{
  background-color: #fff;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #124d21;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}



::placeholder{
    color: #fff;
    font-family: "montserrat",sans-serif;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #BF5858;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;
}

.btnn:hover{
    background: #fff;
    color: #BF5858;
}

.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.form .link{
    font-family: "montserrat",sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #BF5858;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

/* Home */


.column {
	
	width: 22.5%;
	padding: 15px;
  padding-right:20px;
  display: inline-block;
  cursor:pointer;
  background-position: center;
  background-size: cover;
  margin: 5px;
  transition: transform 0.5s;
}

.card1{
  background-color: rgb(27, 112, 42) ; width: 250px; height: 170px;
}
.card2{
  background-color: rgb(8, 70, 18) ; width: 250px; height: 170px;
}
.card3{
  background-color: rgb(27, 112, 42) ; width: 250px; height: 170px;
}
.card4{
  background-color: rgb(8, 70, 18) ; width: 250px; height: 170px; 
}

.column:hover{
  transform: translateY(-10px);
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

